.language {
    margin-left: 20px;
    width: 487px;
    background-color: #000000;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.language h1 {
    font-size: 36px; /* Большой размер шрифта для заголовков */
    margin-bottom: 10px; /* Отступ снизу для заголовков */
}

.language ul {
    list-style: none; /* Убрать маркеры списка */
    padding: 0; /* Убрать отступы у списка */
}

.language li {
    font-size: 18px; /* Размер шрифта для каждого пункта */
    margin-bottom: 5px; /* Отступ между пунктами */
}

/* Добавьте любые дополнительные стили, которые вы хотите применить к секции */
