/* App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
}

.header,
.main,
.footer {
  position: relative;
  width: 100%;
}

.vertical-line {
  position: absolute;
  left: 506px; /* Ширина фото делённая на два плюс её половина */
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: white;
}

/* Стили для левой и правой части main */
.left-content {
  width: 50%;
}

.right-content {
  width: 50%;
}
