.myself {
    background-color: black;
    display: flex;
}

.myself_photo {
    width: 586px; /* Устанавливаем ширину фотографии */
    height: 675px; /* Устанавливаем высоту фотографии */
    object-fit: cover; /* Обеспечиваем, чтобы изображение покрывало всю область, сохраняя свои пропорции */
    margin-right: 20px; /* Добавляем отступ справа от фотографии, если есть дополнительный контент */
}

.myself-text h1 {
    font-size: 48px; /* Размер шрифта для главного заголовка */
    color: white;
    /* Добавьте дополнительные стили для заголовка, если нужно */
}

.myself-text h2 {
    font-size: 32px; /* Размер шрифта для подзаголовков */
    color: white;
    /* Добавьте дополнительные стили для подзаголовков, если нужно */
}

.myself-text p {
    font-size: 18px; /* Размер шрифта для абзацев */
    color: white;
    /* Добавьте дополнительные стили для абзацев, если нужно */
}