@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Newsreader:opsz,wght@6..72,800&display=swap');

.myself {
    background-color: black;
    display: flex;
}

.myself_photo {
    width: 586px; /* Устанавливаем ширину фотографии */
    height: 675px; /* Устанавливаем высоту фотографии */
    object-fit: cover; /* Обеспечиваем, чтобы изображение покрывало всю область, сохраняя свои пропорции */
    margin-right: 20px; /* Добавляем отступ справа от фотографии, если есть дополнительный контент */
}

.stack_text h2,
.stack_text p {
    margin-top: 40px;
    margin-left: 50px;
    width: 450px;
    font-size: 22px; /* Размер шрифта для абзацев */
    color: #5c5c5c;
    font-family: 'Newsreader', serif;
    font-style: italic;
    /* Добавьте дополнительные стили для абзацев, если нужно */
}


.fullname h1 {
    font-size: 76px; /* Размер шрифта для главного заголовка */
    color: white;
    font-family: 'Newsreader', serif;/* остальные стили */

    /* Добавьте дополнительные стили для заголовка, если нужно */
}

.myself-text h2 {
    font-size: 32px; /* Размер шрифта для подзаголовков */
    color: white;
    /* Добавьте дополнительные стили для подзаголовков, если нужно */
}

.myself-text p {
    font-size: 18px; /* Размер шрифта для абзацев */
    color: #5c5c5c;
    font-family: 'Newsreader', serif;
    font-style: italic;
    /* Добавьте дополнительные стили для абзацев, если нужно */
}