.experience {
    width: auto;
    height: auto;
    margin-top: -300px;
    margin-left: 330px;
    background-color: #000000;
    color: white;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.experience h1 {
    font-family: 'Kirang Haerang', system-ui;
    letter-spacing: 20px;
    margin-left: 90px;
    color: white;
    width: 5px;
    font-size: 56px;
    display: flex;
    flex-direction: column;
}


.experience h2 {
    color: #ffffff8b;
    font-size: 24px; /* Размер шрифта для подзаголовков */
    margin-bottom: 5px; /* Отступ снизу для подзаголовков */
    font-family: 'Archivo Black', sans-serif;
}

.experience h6 {
    font-size: 8px;
    color: #fff;
    letter-spacing: 15px;
    margin-left: 70px;
    font-family: 'Krona One', sans-serif;


}


.experience li {
    font-size: 24px;
    font-family: 'Kirang Haerang', system-ui;

}

.experience-item ul {
    list-style: none; /* Убрать маркеры списка */
    padding: 0; /* Убрать отступы у списка */
    margin-left: 20px; /* Отступ для элементов списка */
}

.experience-item li {
    position: relative; /* Для позиционирования псевдоэлементов */
    padding-left: 30px; /* Отступ для текста от маркера */
    margin-bottom: 5px; /* Отступ между элементами списка */
}

.experience-item li::before {
    
    content: ''; /* Псевдоэлемент для кастомного маркера */
    position: absolute;
    left: 0; /* Позиция слева */
    top: 50%; /* Центрирование по вертикали */
    transform: translateY(-50%); /* Смещение псевдоэлемента для центрирования */
    width: 8px; /* Ширина маркера */
    height: 8px; /* Высота маркера */
    background-color: #ffffff8b;
    border-radius: 50%; /* Круглый маркер */
}

/* Добавьте любые дополнительные стили, которые вы хотите применить к секции */
